## 1. Setup

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import pickle

## 2. Data Collection

Load data from Mexican government employee's github

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/marianarf/covid19_mexico_analysis/master/mexico_covid19.csv")
df.head()

,id,FECHA_ARCHIVO,ID_REGISTRO,ENTIDAD_UM,ENTIDAD_RES,RESULTADO,DELAY,ENTIDAD_REGISTRO,ENTIDAD,ABR_ENT,...,OTRA_COM,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
0,9269,2020-04-12,00011f,25,25,2,0,25,Sinaloa,SL,...,2,2,1,2,2,2,99,MÃ©xico,97,97
1,33333,2020-04-12,00014e,14,14,2,0,14,Jalisco,JC,...,2,2,1,2,1,99,99,MÃ©xico,97,2
2,35483,2020-04-12,000153,8,8,1,0,8,Chihuahua,CH,...,2,2,2,2,2,99,99,MÃ©xico,97,2
3,7062,2020-04-12,0001b6,9,15,1,0,9,Ciudad de Mexico,DF,...,2,2,1,2,2,99,99,MÃ©xico,97,97
4,23745,2020-04-12,0001c1,9,9,2,0,9,Ciudad de Mexico,DF,...,2,2,2,2,2,99,99,MÃ©xico,97,97

In [3]:
df.shape

(263007, 41)

## 3. Data Cleaning

Using Data Dictionary provided, translate column headers from Spanish to English

In [85]:
df.columns

Index(['id', 'FECHA_ARCHIVO', 'ID_REGISTRO', 'ENTIDAD_UM', 'ENTIDAD_RES',
       'RESULTADO', 'DELAY', 'ENTIDAD_REGISTRO', 'ENTIDAD', 'ABR_ENT',
       'FECHA_ACTUALIZACION', 'ORIGEN', 'SECTOR', 'SEXO', 'ENTIDAD_NAC',
       'MUNICIPIO_RES', 'TIPO_PACIENTE', 'FECHA_INGRESO', 'FECHA_SINTOMAS',
       'FECHA_DEF', 'INTUBADO', 'NEUMONIA', 'EDAD', 'NACIONALIDAD', 'EMBARAZO',
       'HABLA_LENGUA_INDIG', 'DIABETES', 'EPOC', 'ASMA', 'INMUSUPR',
       'HIPERTENSION', 'OTRA_COM', 'CARDIOVASCULAR', 'OBESIDAD',
       'RENAL_CRONICA', 'TABAQUISMO', 'OTRO_CASO', 'MIGRANTE',
       'PAIS_NACIONALIDAD', 'PAIS_ORIGEN', 'UCI'],
      dtype='object')

In [86]:
df = df.rename(columns={'FECHA_ARCHIVO':'Record_Last_Updated', 'ID_REGISTRO':'Original_id', 'ENTIDAD_UM':'Hospital_Region', 'ENTIDAD_RES':'Patient_Residence_Region',
       'RESULTADO':'Test_Result', 'DELAY':'Test_Result_Delay', 'ENTIDAD_REGISTRO':'Case_Assigned_Region', 'ENTIDAD':'State_Name', 'ABR_ENT':'Abbr_Region',
       'FECHA_ACTUALIZACION':'Database_Last_Updated', 'ORIGEN':'Monitoring_Unit', 'SECTOR':'Institution_Type', 'SEXO':'Patient_Gender', 'ENTIDAD_NAC':'Patient_Birth_Region',
       'MUNICIPIO_RES':'Patient_Birth_City', 'TIPO_PACIENTE':'Care_Type', 'FECHA_INGRESO':'Admission_Date', 'FECHA_SINTOMAS':'Symptom_Start_Date',
       'FECHA_DEF':'Date_of_Death', 'INTUBADO':'Intubation', 'NEUMONIA':'Pneumonia', 'EDAD':'Age', 'NACIONALIDAD':'Nat', 'EMBARAZO':'Pregnant',
       'HABLA_LENGUA_INDIG':'Indigenous', 'DIABETES':'Diabetic', 'EPOC':'COPD_Lung_Disease', 'ASMA':'Asthma', 'INMUSUPR':'Immunosuppressed',
       'HIPERTENSION':'Hypertension', 'OTRA_COM':'Comorbidity', 'CARDIOVASCULAR':'Cardiovascular_Disease', 'OBESIDAD':'Obese',
       'RENAL_CRONICA':'Chronic_Renal_Insufficiency', 'TABAQUISMO':'Tobacco_Addiction', 'OTRO_CASO':'COVID_Exposure', 'MIGRANTE':'Migrant',
       'PAIS_NACIONALIDAD':'Nationality', 'PAIS_ORIGEN':'Birth_Country', 'UCI':'Intensive_Care'})

In [87]:
df.head()

,id,Record_Last_Updated,Original_id,Hospital_Region,Patient_Residence_Region,Test_Result,Test_Result_Delay,Case_Assigned_Region,State_Name,Abbr_Region,...,Comorbidity,Cardiovascular_Disease,Obese,Chronic_Renal_Insufficiency,Tobacco_Addiction,COVID_Exposure,Migrant,Nationality,Birth_Country,Intensive_Care
0,9269,2020-04-12,00011f,25,25,2,0,25,Sinaloa,SL,...,2,2,1,2,2,2,99,MÃ©xico,97,97
1,33333,2020-04-12,00014e,14,14,2,0,14,Jalisco,JC,...,2,2,1,2,1,99,99,MÃ©xico,97,2
2,35483,2020-04-12,000153,8,8,1,0,8,Chihuahua,CH,...,2,2,2,2,2,99,99,MÃ©xico,97,2
3,7062,2020-04-12,0001b6,9,15,1,0,9,Ciudad de Mexico,DF,...,2,2,1,2,2,99,99,MÃ©xico,97,97
4,23745,2020-04-12,0001c1,9,9,2,0,9,Ciudad de Mexico,DF,...,2,2,2,2,2,99,99,MÃ©xico,97,97

Any duplicate case ids?

In [90]:
df.id.duplicated().any(), df.Original_id.duplicated().any()

(False, False)

Any missing values?

In [91]:
df.isnull().values.any()

True

In [92]:
df.isnull().sum().sum()

6

In [93]:
df.isnull().sum()

id                             0
Record_Last_Updated            0
Original_id                    0
Hospital_Region                0
Patient_Residence_Region       0
Test_Result                    0
Test_Result_Delay              0
Case_Assigned_Region           0
State_Name                     0
Abbr_Region                    0
Database_Last_Updated          0
Monitoring_Unit                0
Institution_Type               0
Patient_Gender                 0
Patient_Birth_Region           0
Patient_Birth_City             6
Care_Type                      0
Admission_Date                 0
Symptom_Start_Date             0
Date_of_Death                  0
Intubation                     0
Pneumonia                      0
Age                            0
Nat                            0
Pregnant                       0
Indigenous                     0
Diabetic                       0
COPD_Lung_Disease              0
Asthma                         0
Immunosuppressed               0
Hypertension                   0
Comorbidity                    0
Cardiovascular_Disease         0
Obese                          0
Chronic_Renal_Insufficiency    0
Tobacco_Addiction              0
COVID_Exposure                 0
Migrant                        0
Nationality                    0
Birth_Country                  0
Intensive_Care                 0
dtype: int64

In [94]:
df.Patient_Birth_Region.loc[df.Patient_Birth_City.isna()]

817      26
2134     99
2794     99
24802     2
25880    15
27722    99
Name: Patient_Birth_Region, dtype: int64

In [95]:
df[df.Patient_Birth_City.isna()]

,id,Record_Last_Updated,Original_id,Hospital_Region,Patient_Residence_Region,Test_Result,Test_Result_Delay,Case_Assigned_Region,State_Name,Abbr_Region,...,Comorbidity,Cardiovascular_Disease,Obese,Chronic_Renal_Insufficiency,Tobacco_Addiction,COVID_Exposure,Migrant,Nationality,Birth_Country,Intensive_Care
817,30587,2020-04-12,00f3d0,2,2,2,0,2,Baja California,BC,...,2,2,1,2,2,99,99,MÃ©xico,97,97
2134,34522,2020-04-12,026598,2,2,1,0,2,Baja California,BC,...,2,2,2,2,2,99,99,MÃ©xico,97,97
2794,32436,2020-04-12,031d5e,9,9,2,0,9,Ciudad de Mexico,DF,...,2,2,2,2,2,99,99,Estados Unidos de AmÃ©rica,97,97
24802,7304,2020-04-12,1b32c4,2,2,2,0,2,Baja California,BC,...,2,2,1,2,1,99,99,MÃ©xico,97,97
25880,23213,2020-04-12,1c6b84,2,2,1,0,2,Baja California,BC,...,2,2,2,2,2,99,99,MÃ©xico,97,97
27722,35677,2020-04-12,1e83db,3,3,1,0,3,Baja California Sur,BS,...,2,2,1,2,2,99,99,El Salvador,97,97

Drop rows with missing values

In [96]:
df = df[~df.Patient_Birth_City.isna()].reset_index(drop=True)

In [97]:
df.shape

(263001, 41)

In [98]:
df.isnull().values.any()

False

Explore columns and drop irrelevant ones

In [99]:
df.columns

Index(['id', 'Record_Last_Updated', 'Original_id', 'Hospital_Region',
       'Patient_Residence_Region', 'Test_Result', 'Test_Result_Delay',
       'Case_Assigned_Region', 'State_Name', 'Abbr_Region',
       'Database_Last_Updated', 'Monitoring_Unit', 'Institution_Type',
       'Patient_Gender', 'Patient_Birth_Region', 'Patient_Birth_City',
       'Care_Type', 'Admission_Date', 'Symptom_Start_Date', 'Date_of_Death',
       'Intubation', 'Pneumonia', 'Age', 'Nat', 'Pregnant', 'Indigenous',
       'Diabetic', 'COPD_Lung_Disease', 'Asthma', 'Immunosuppressed',
       'Hypertension', 'Comorbidity', 'Cardiovascular_Disease', 'Obese',
       'Chronic_Renal_Insufficiency', 'Tobacco_Addiction', 'COVID_Exposure',
       'Migrant', 'Nationality', 'Birth_Country', 'Intensive_Care'],
      dtype='object')

In [100]:
df.describe()

,id,Hospital_Region,Patient_Residence_Region,Test_Result,Test_Result_Delay,Case_Assigned_Region,Monitoring_Unit,Institution_Type,Patient_Gender,Patient_Birth_Region,...,Immunosuppressed,Hypertension,Comorbidity,Cardiovascular_Disease,Obese,Chronic_Renal_Insufficiency,Tobacco_Addiction,COVID_Exposure,Migrant,Intensive_Care
count,2.630010e+05,263001.000000,263001.000000,263001.000000,263001.0,263001.000000,263001.000000,263001.000000,263001.000000,263001.000000,...,263001.000000,263001.000000,263001.000000,263001.000000,263001.000000,263001.000000,263001.000000,263001.000000,263001.000000,263001.000000
mean,2.946243e+06,14.844864,15.127988,1.609674,0.0,15.092540,1.635792,9.601808,1.510682,19.690161,...,2.359675,2.174193,2.453972,2.324987,2.184779,2.320238,2.268227,32.282242,98.593671,74.540500
std,2.212350e+06,8.000936,7.904194,0.487824,0.0,7.915287,0.481208,7.265502,0.499887,19.376446,...,6.021898,5.745179,6.850309,5.796151,5.817427,5.723060,5.867653,45.349707,6.275568,40.385309
min,1.000000e+00,1.000000,1.000000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,8.690640e+05,9.000000,9.000000,1.000000,0.0,9.000000,1.000000,4.000000,1.000000,9.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,99.000000,97.000000
50%,2.733830e+06,14.000000,15.000000,2.000000,0.0,15.000000,2.000000,12.000000,2.000000,15.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,99.000000,97.000000
75%,4.789679e+06,21.000000,21.000000,2.000000,0.0,21.000000,2.000000,12.000000,2.000000,24.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,99.000000,99.000000,97.000000
max,7.277125e+06,32.000000,32.000000,2.000000,0.0,32.000000,2.000000,99.000000,2.000000,99.000000,...,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,99.000000,99.000000,99.000000

In [101]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263001 entries, 0 to 263000
Data columns (total 41 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           263001 non-null  int64
 1   Record_Last_Updated          263001 non-null  object
 2   Original_id                  263001 non-null  object
 3   Hospital_Region              263001 non-null  int64
 4   Patient_Residence_Region     263001 non-null  int64
 5   Test_Result                  263001 non-null  int64
 6   Test_Result_Delay            263001 non-null  int64
 7   Case_Assigned_Region         263001 non-null  int64
 8   State_Name                   263001 non-null  object
 9   Abbr_Region                  263001 non-null  object
 10  Database_Last_Updated        263001 non-null  object
 11  Monitoring_Unit              263001 non-null  int64
 12  Institution_Type             263001 non-null  int64
 13  Patient_Gender               263001 non-null  int64
 14  Patient_Birth_Region         263001 non-null  int64
 15  Patient_Birth_City           263001 non-null  float64
 16  Care_Type                    263001 non-null  int64
 17  Admission_Date               263001 non-null  object
 18  Symptom_Start_Date           263001 non-null  object
 19  Date_of_Death                263001 non-null  object
 20  Intubation                   263001 non-null  int64
 21  Pneumonia                    263001 non-null  int64
 22  Age                          263001 non-null  int64
 23  Nat                          263001 non-null  int64
 24  Pregnant                     263001 non-null  int64
 25  Indigenous                   263001 non-null  int64
 26  Diabetic                     263001 non-null  int64
 27  COPD_Lung_Disease            263001 non-null  int64
 28  Asthma                       263001 non-null  int64
 29  Immunosuppressed             263001 non-null  int64
 30  Hypertension                 263001 non-null  int64
 31  Comorbidity                  263001 non-null  int64
 32  Cardiovascular_Disease       263001 non-null  int64
 33  Obese                        263001 non-null  int64
 34  Chronic_Renal_Insufficiency  263001 non-null  int64
 35  Tobacco_Addiction            263001 non-null  int64
 36  COVID_Exposure               263001 non-null  int64
 37  Migrant                      263001 non-null  int64
 38  Nationality                  263001 non-null  object
 39  Birth_Country                263001 non-null  object
 40  Intensive_Care               263001 non-null  int64
dtypes: float64(1), int64(30), object(10)
memory usage: 82.3+ MB

In [102]:
df.head()

,id,Record_Last_Updated,Original_id,Hospital_Region,Patient_Residence_Region,Test_Result,Test_Result_Delay,Case_Assigned_Region,State_Name,Abbr_Region,...,Comorbidity,Cardiovascular_Disease,Obese,Chronic_Renal_Insufficiency,Tobacco_Addiction,COVID_Exposure,Migrant,Nationality,Birth_Country,Intensive_Care
0,9269,2020-04-12,00011f,25,25,2,0,25,Sinaloa,SL,...,2,2,1,2,2,2,99,MÃ©xico,97,97
1,33333,2020-04-12,00014e,14,14,2,0,14,Jalisco,JC,...,2,2,1,2,1,99,99,MÃ©xico,97,2
2,35483,2020-04-12,000153,8,8,1,0,8,Chihuahua,CH,...,2,2,2,2,2,99,99,MÃ©xico,97,2
3,7062,2020-04-12,0001b6,9,15,1,0,9,Ciudad de Mexico,DF,...,2,2,1,2,2,99,99,MÃ©xico,97,97
4,23745,2020-04-12,0001c1,9,9,2,0,9,Ciudad de Mexico,DF,...,2,2,2,2,2,99,99,MÃ©xico,97,97

In [103]:
# keep Record_Last_Updated as reference in case I want to bring in weather data

df.Record_Last_Updated.value_counts().sort_index()

2020-04-12    27722
2020-04-13     1434
2020-04-14     1511
2020-04-15     1919
2020-04-16     2184
2020-04-17     2197
2020-04-18     1772
2020-04-19     2631
2020-04-20     1824
2020-04-21     2147
2020-04-22     4616
2020-04-23     3327
2020-04-24     3147
2020-04-25     2799
2020-04-26     2757
2020-04-27     2464
2020-04-28     3291
2020-04-29     2855
2020-04-30     3225
2020-05-01     3891
2020-05-02     3565
2020-05-03     3929
2020-05-04     3759
2020-05-05     2788
2020-05-06     3918
2020-05-07     4953
2020-05-08     4597
2020-05-09     4395
2020-05-10     3683
2020-05-11     3167
2020-05-12     5147
2020-05-13     4478
2020-05-14     5556
2020-05-15     5574
2020-05-16     5203
2020-05-17     5106
2020-05-18     5471
2020-05-19     6228
2020-05-20     5483
2020-05-21     6943
2020-05-22     8014
2020-05-23     7797
2020-05-24     6264
2020-05-25     5949
2020-05-26     7209
2020-05-27     8124
2020-05-28     7429
2020-05-29     6903
2020-05-30     6680
2020-05-31     6032
2020-06-01     5472
2020-06-02     7426
2020-06-03     8046
Name: Record_Last_Updated, dtype: int64

In [104]:
df.Test_Result_Delay.value_counts()

0    263001
Name: Test_Result_Delay, dtype: int64

In [107]:
df.Institution_Type.value_counts()

12    157724
4      74416
6      10022
9       8039
3       4781
8       2959
11      1842
99      1285
10       941
7        313
13       293
5        263
2        110
1         13
Name: Institution_Type, dtype: int64

Create df with patients who tested positive, including only relevant columns

In [109]:
COVID_patient_df = df[['id', 'Symptom_Start_Date', 'Admission_Date',
                   'Patient_Birth_City', 'Patient_Birth_Region', 'Birth_Country','Nationality', 'Nat', 'Patient_Residence_Region',
                   'State_Name', 'Abbr_Region','Care_Type', 'Patient_Gender', 'Age', 
                   'Pneumonia',  'Pregnant',
                   'Indigenous', 'Diabetic', 'COPD_Lung_Disease', 'Asthma',
                   'Immunosuppressed', 'Hypertension', 'Comorbidity',
                   'Cardiovascular_Disease', 'Obese', 'Chronic_Renal_Insufficiency',
                   'Tobacco_Addiction', 'COVID_Exposure', 'Migrant', 
                    'Test_Result', 'Intensive_Care', 'Date_of_Death', 'Intubation']].loc[df.Test_Result == 1]

In [110]:
COVID_patient_df.head()

,id,Symptom_Start_Date,Admission_Date,Patient_Birth_City,Patient_Birth_Region,Birth_Country,Nationality,Nat,Patient_Residence_Region,State_Name,...,Cardiovascular_Disease,Obese,Chronic_Renal_Insufficiency,Tobacco_Addiction,COVID_Exposure,Migrant,Test_Result,Intensive_Care,Date_of_Death,Intubation
2,35483,2020-03-24,2020-04-02,19.0,8,97,MÃ©xico,1,8,Chihuahua,...,2,2,2,2,99,99,1,2,9999-99-99,2
3,7062,2020-03-26,2020-04-01,33.0,15,97,MÃ©xico,1,15,Ciudad de Mexico,...,2,1,2,2,99,99,1,97,9999-99-99,97
18,13779,2020-03-29,2020-03-30,2.0,22,97,MÃ©xico,1,9,Mexico,...,2,2,2,2,99,99,1,97,9999-99-99,97
21,17334,2020-03-18,2020-03-26,12.0,28,97,MÃ©xico,1,9,Ciudad de Mexico,...,2,2,2,2,2,99,1,97,9999-99-99,97
32,2789,2020-03-24,2020-03-25,28.0,14,97,MÃ©xico,1,14,Jalisco,...,2,1,2,2,1,99,1,97,9999-99-99,97

In [111]:
COVID_patient_df.reset_index(drop=True, inplace=True)

In [112]:
COVID_patient_df.shape

(102656, 33)

In [113]:
COVID_patient_df.Intubation.value_counts()

97    67371
2     32964
1      2306
99       15
Name: Intubation, dtype: int64

In [114]:
COVID_patient_df[COVID_patient_df.Intubation == 97]

,id,Symptom_Start_Date,Admission_Date,Patient_Birth_City,Patient_Birth_Region,Birth_Country,Nationality,Nat,Patient_Residence_Region,State_Name,...,Cardiovascular_Disease,Obese,Chronic_Renal_Insufficiency,Tobacco_Addiction,COVID_Exposure,Migrant,Test_Result,Intensive_Care,Date_of_Death,Intubation
1,7062,2020-03-26,2020-04-01,33.0,15,97,MÃ©xico,1,15,Ciudad de Mexico,...,2,1,2,2,99,99,1,97,9999-99-99,97
2,13779,2020-03-29,2020-03-30,2.0,22,97,MÃ©xico,1,9,Mexico,...,2,2,2,2,99,99,1,97,9999-99-99,97
3,17334,2020-03-18,2020-03-26,12.0,28,97,MÃ©xico,1,9,Ciudad de Mexico,...,2,2,2,2,2,99,1,97,9999-99-99,97
4,2789,2020-03-24,2020-03-25,28.0,14,97,MÃ©xico,1,14,Jalisco,...,2,1,2,2,1,99,1,97,9999-99-99,97
6,14610,2020-03-27,2020-04-02,2.0,6,97,MÃ©xico,1,9,Ciudad de Mexico,...,2,2,2,2,99,99,1,97,9999-99-99,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102647,7043441,2020-05-26,2020-05-26,67.0,20,99,MÃ©xico,1,20,Oaxaca,...,2,2,2,2,1,99,1,97,2020-05-31,97
102649,7077068,2020-05-31,2020-06-02,50.0,31,99,MÃ©xico,1,31,Yucatan,...,2,2,2,2,99,99,1,97,9999-99-99,97
102650,7034532,2020-05-11,2020-05-11,7.0,9,99,MÃ©xico,1,9,Ciudad de Mexico,...,2,2,2,2,2,99,1,97,9999-99-99,97
102651,7094887,2020-06-01,2020-06-03,53.0,32,99,MÃ©xico,1,32,Zacatecas,...,2,2,2,2,1,99,1,97,9999-99-99,97
102655,7093277,2020-05-04,2020-05-04,6.0,9,99,MÃ©xico,1,9,Ciudad de Mexico,...,2,2,2,2,2,99,1,97,9999-99-99,97

In [115]:
COVID_patient_df.shape

(102656, 33)

Notes on columns:
* patientbirthcity corresponds to city on Catalogo MUNICIPIOS excel sheet

## 4. Minimum Viable Product: Setup Data for Baseline Model Building

Subset COVID_patient_df to conduct basic analysis without much feature engineering

In [301]:
mvp = COVID_patient_df.copy()

In [302]:
mvp.shape

(102656, 33)

In [303]:
mvp.head()

,id,Symptom_Start_Date,Admission_Date,Patient_Birth_City,Patient_Birth_Region,Birth_Country,Nationality,Nat,Patient_Residence_Region,State_Name,...,Cardiovascular_Disease,Obese,Chronic_Renal_Insufficiency,Tobacco_Addiction,COVID_Exposure,Migrant,Test_Result,Intensive_Care,Date_of_Death,Intubation
0,35483,2020-03-24,2020-04-02,19.0,8,97,MÃ©xico,1,8,Chihuahua,...,2,2,2,2,99,99,1,2,9999-99-99,2
1,7062,2020-03-26,2020-04-01,33.0,15,97,MÃ©xico,1,15,Ciudad de Mexico,...,2,1,2,2,99,99,1,97,9999-99-99,97
2,13779,2020-03-29,2020-03-30,2.0,22,97,MÃ©xico,1,9,Mexico,...,2,2,2,2,99,99,1,97,9999-99-99,97
3,17334,2020-03-18,2020-03-26,12.0,28,97,MÃ©xico,1,9,Ciudad de Mexico,...,2,2,2,2,2,99,1,97,9999-99-99,97
4,2789,2020-03-24,2020-03-25,28.0,14,97,MÃ©xico,1,14,Jalisco,...,2,1,2,2,1,99,1,97,9999-99-99,97

In [304]:
mvp.columns

Index(['id', 'Symptom_Start_Date', 'Admission_Date', 'Patient_Birth_City',
       'Patient_Birth_Region', 'Birth_Country', 'Nationality', 'Nat',
       'Patient_Residence_Region', 'State_Name', 'Abbr_Region', 'Care_Type',
       'Patient_Gender', 'Age', 'Pneumonia', 'Pregnant', 'Indigenous',
       'Diabetic', 'COPD_Lung_Disease', 'Asthma', 'Immunosuppressed',
       'Hypertension', 'Comorbidity', 'Cardiovascular_Disease', 'Obese',
       'Chronic_Renal_Insufficiency', 'Tobacco_Addiction', 'COVID_Exposure',
       'Migrant', 'Test_Result', 'Intensive_Care', 'Date_of_Death',
       'Intubation'],
      dtype='object')

In [305]:
mvp.Care_Type.value_counts()

1    67371
2    35285
Name: Care_Type, dtype: int64

In [306]:
mvp.Intubation.value_counts()

97    67371
2     32964
1      2306
99       15
Name: Intubation, dtype: int64

In [308]:
mvp.Intensive_Care.equals(mvp.Intubation)

False

In [309]:
mvp.Intensive_Care.compare(mvp.Intubation)

        self  other
16       2.0    1.0
18       2.0    1.0
34       1.0    2.0
46       2.0    1.0
161     99.0    2.0
...      ...    ...
102202   2.0    1.0
102226   1.0    2.0
102247   2.0    1.0
102260   1.0    2.0
102428   1.0    2.0

[2649 rows x 2 columns]

In [310]:
mvp = mvp[['id',
       'Patient_Gender', 'Age', 'Pneumonia', 'Pregnant', 'Indigenous',
       'Diabetic', 'COPD_Lung_Disease', 'Asthma', 'Immunosuppressed',
       'Hypertension', 'Comorbidity', 'Cardiovascular_Disease', 'Obese',
       'Chronic_Renal_Insufficiency', 'Tobacco_Addiction',
       'Migrant', 'Intensive_Care', 
       'Intubation']].loc[mvp.Intubation != 99]

In [311]:
mvp.head()

,id,Patient_Gender,Age,Pneumonia,Pregnant,Indigenous,Diabetic,COPD_Lung_Disease,Asthma,Immunosuppressed,Hypertension,Comorbidity,Cardiovascular_Disease,Obese,Chronic_Renal_Insufficiency,Tobacco_Addiction,Migrant,Intensive_Care,Intubation
0,35483,2,50,1,97,2,2,2,2,2,2,2,2,2,2,2,99,2,2
1,7062,1,25,2,2,2,2,2,2,2,2,2,2,1,2,2,99,97,97
2,13779,1,29,2,2,2,2,2,2,2,2,2,2,2,2,2,99,97,97
3,17334,2,30,2,97,2,2,2,2,2,2,2,2,2,2,2,99,97,97
4,2789,2,64,2,97,2,1,2,2,2,1,2,2,1,2,2,99,97,97

In [312]:
for col in mvp.columns:
    print(mvp[col].value_counts())

4458497    1
4269681    1
6194821    1
964227     1
6727297    1
          ..
1495281    1
6187238    1
6503491    1
3832036    1
4458495    1
Name: id, Length: 102641, dtype: int64
2    57892
1    44749
Name: Patient_Gender, dtype: int64
46     2466
47     2455
45     2386
40     2384
48     2370
       ...
103       3
113       2
114       1
120       1
102       1
Name: Age, Length: 107, dtype: int64
2     77288
1     25349
99        4
Name: Pneumonia, dtype: int64
97    57891
2     43859
1       636
98      255
Name: Pregnant, dtype: int64
2     98720
99     2626
1      1295
Name: Indigenous, dtype: int64
2     84282
1     17787
98      572
Name: Diabetic, dtype: int64
2     100066
1       2034
98       541
Name: COPD_Lung_Disease, dtype: int64
2     99133
1      2959
98      549
Name: Asthma, dtype: int64
2     100479
1       1571
98       591
Name: Immunosuppressed, dtype: int64
2     80770
1     21320
98      551
Name: Hypertension, dtype: int64
2     98662
1      3251
98      728
Name: Comorbidity, dtype: int64
2     99447
1      2626
98      568
Name: Cardiovascular_Disease, dtype: int64
2     81186
1     20854
98      601
Name: Obese, dtype: int64
2     99699
1      2383
98      559
Name: Chronic_Renal_Insufficiency, dtype: int64
2     93615
1      8438
98      588
Name: Tobacco_Addiction, dtype: int64
99    102339
2        214
1         88
Name: Migrant, dtype: int64
97    67371
2     32717
1      2551
99        2
Name: Intensive_Care, dtype: int64
97    67371
2     32964
1      2306
Name: Intubation, dtype: int64

In [313]:
# for int64 columns (cols ind 3:17), only keep rows where value is 1 or 2, and assign 0 (no) to values with 2

mvp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 102641 entries, 0 to 102655
Data columns (total 19 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           102641 non-null  int64
 1   Patient_Gender               102641 non-null  int64
 2   Age                          102641 non-null  int64
 3   Pneumonia                    102641 non-null  int64
 4   Pregnant                     102641 non-null  int64
 5   Indigenous                   102641 non-null  int64
 6   Diabetic                     102641 non-null  int64
 7   COPD_Lung_Disease            102641 non-null  int64
 8   Asthma                       102641 non-null  int64
 9   Immunosuppressed             102641 non-null  int64
 10  Hypertension                 102641 non-null  int64
 11  Comorbidity                  102641 non-null  int64
 12  Cardiovascular_Disease       102641 non-null  int64
 13  Obese                        102641 non-null  int64
 14  Chronic_Renal_Insufficiency  102641 non-null  int64
 15  Tobacco_Addiction            102641 non-null  int64
 16  Migrant                      102641 non-null  int64
 17  Intensive_Care               102641 non-null  int64
 18  Intubation                   102641 non-null  int64
dtypes: int64(19)
memory usage: 15.7 MB

In [314]:
# replace 97 with 2 in columns because "does not apply" means "no"

mvp.iloc[:, 3:].replace(97, 2, inplace=True)

/Users/michaeljehl/opt/anaconda3/envs/metis/lib/python3.8/site-packages/pandas/core/frame.py:4521: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [315]:
mvp.head()

,id,Patient_Gender,Age,Pneumonia,Pregnant,Indigenous,Diabetic,COPD_Lung_Disease,Asthma,Immunosuppressed,Hypertension,Comorbidity,Cardiovascular_Disease,Obese,Chronic_Renal_Insufficiency,Tobacco_Addiction,Migrant,Intensive_Care,Intubation
0,35483,2,50,1,2,2,2,2,2,2,2,2,2,2,2,2,99,2,2
1,7062,1,25,2,2,2,2,2,2,2,2,2,2,1,2,2,99,2,2
2,13779,1,29,2,2,2,2,2,2,2,2,2,2,2,2,2,99,2,2
3,17334,2,30,2,2,2,2,2,2,2,2,2,2,2,2,2,99,2,2
4,2789,2,64,2,2,2,1,2,2,2,1,2,2,1,2,2,99,2,2

In [316]:
mvp.iloc[:, 3:].replace(97, 2, inplace=True)

/Users/michaeljehl/opt/anaconda3/envs/metis/lib/python3.8/site-packages/pandas/core/frame.py:4521: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [317]:
# subset only 1 and 2 values: get rid of "Ignored" and "Not Specified" response types
mvp.head()

,id,Patient_Gender,Age,Pneumonia,Pregnant,Indigenous,Diabetic,COPD_Lung_Disease,Asthma,Immunosuppressed,Hypertension,Comorbidity,Cardiovascular_Disease,Obese,Chronic_Renal_Insufficiency,Tobacco_Addiction,Migrant,Intensive_Care,Intubation
0,35483,2,50,1,2,2,2,2,2,2,2,2,2,2,2,2,99,2,2
1,7062,1,25,2,2,2,2,2,2,2,2,2,2,1,2,2,99,2,2
2,13779,1,29,2,2,2,2,2,2,2,2,2,2,2,2,2,99,2,2
3,17334,2,30,2,2,2,2,2,2,2,2,2,2,2,2,2,99,2,2
4,2789,2,64,2,2,2,1,2,2,2,1,2,2,1,2,2,99,2,2

In [318]:
mvp.shape

(102641, 19)

In [319]:
mvp.Migrant.value_counts()

99    102339
2        214
1         88
Name: Migrant, dtype: int64

In [320]:
mvp.drop(columns='Migrant', inplace=True)

In [321]:
mvp.shape

(102641, 18)

In [322]:
mvp.drop(columns='Tobacco_Addiction', inplace=True)

In [323]:
mvp.head()

,id,Patient_Gender,Age,Pneumonia,Pregnant,Indigenous,Diabetic,COPD_Lung_Disease,Asthma,Immunosuppressed,Hypertension,Comorbidity,Cardiovascular_Disease,Obese,Chronic_Renal_Insufficiency,Intensive_Care,Intubation
0,35483,2,50,1,2,2,2,2,2,2,2,2,2,2,2,2,2
1,7062,1,25,2,2,2,2,2,2,2,2,2,2,1,2,2,2
2,13779,1,29,2,2,2,2,2,2,2,2,2,2,2,2,2,2
3,17334,2,30,2,2,2,2,2,2,2,2,2,2,2,2,2,2
4,2789,2,64,2,2,2,1,2,2,2,1,2,2,1,2,2,2

In [324]:
mvp.iloc[:, 3:].replace(2, 0, inplace=True)

/Users/michaeljehl/opt/anaconda3/envs/metis/lib/python3.8/site-packages/pandas/core/frame.py:4521: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [325]:
mvp.head()

,id,Patient_Gender,Age,Pneumonia,Pregnant,Indigenous,Diabetic,COPD_Lung_Disease,Asthma,Immunosuppressed,Hypertension,Comorbidity,Cardiovascular_Disease,Obese,Chronic_Renal_Insufficiency,Intensive_Care,Intubation
0,35483,2,50,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,7062,1,25,0,0,0,0,0,0,0,0,0,0,1,0,0,0
2,13779,1,29,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,17334,2,30,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,2789,2,64,0,0,0,1,0,0,0,1,0,0,1,0,0,0

In [326]:
mvp.iloc[:, 1].replace(2, 0, inplace=True)

In [327]:
mvp.head()

,id,Patient_Gender,Age,Pneumonia,Pregnant,Indigenous,Diabetic,COPD_Lung_Disease,Asthma,Immunosuppressed,Hypertension,Comorbidity,Cardiovascular_Disease,Obese,Chronic_Renal_Insufficiency,Intensive_Care,Intubation
0,35483,0,50,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,7062,1,25,0,0,0,0,0,0,0,0,0,0,1,0,0,0
2,13779,1,29,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,17334,0,30,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,2789,0,64,0,0,0,1,0,0,0,1,0,0,1,0,0,0

In [328]:
mvp.columns[3:]

Index(['Pneumonia', 'Pregnant', 'Indigenous', 'Diabetic', 'COPD_Lung_Disease',
       'Asthma', 'Immunosuppressed', 'Hypertension', 'Comorbidity',
       'Cardiovascular_Disease', 'Obese', 'Chronic_Renal_Insufficiency',
       'Intensive_Care', 'Intubation'],
      dtype='object')

In [329]:
for col in mvp.columns:
    print(mvp[col].value_counts())

4458497    1
4269681    1
6194821    1
964227     1
6727297    1
          ..
1495281    1
6187238    1
6503491    1
3832036    1
4458495    1
Name: id, Length: 102641, dtype: int64
0    57892
1    44749
Name: Patient_Gender, dtype: int64
46     2466
47     2455
45     2386
40     2384
48     2370
       ...
103       3
113       2
114       1
120       1
102       1
Name: Age, Length: 107, dtype: int64
0     77288
1     25349
99        4
Name: Pneumonia, dtype: int64
0     101750
1        636
98       255
Name: Pregnant, dtype: int64
0     98720
99     2626
1      1295
Name: Indigenous, dtype: int64
0     84282
1     17787
98      572
Name: Diabetic, dtype: int64
0     100066
1       2034
98       541
Name: COPD_Lung_Disease, dtype: int64
0     99133
1      2959
98      549
Name: Asthma, dtype: int64
0     100479
1       1571
98       591
Name: Immunosuppressed, dtype: int64
0     80770
1     21320
98      551
Name: Hypertension, dtype: int64
0     98662
1      3251
98      728
Name: Comorbidity, dtype: int64
0     99447
1      2626
98      568
Name: Cardiovascular_Disease, dtype: int64
0     81186
1     20854
98      601
Name: Obese, dtype: int64
0     99699
1      2383
98      559
Name: Chronic_Renal_Insufficiency, dtype: int64
0     100088
1       2551
99         2
Name: Intensive_Care, dtype: int64
0    100335
1      2306
Name: Intubation, dtype: int64

In [341]:
indices = []
for col in mvp.columns[3:]:
    indices.extend(mvp[~mvp[col].isin([0,1])].index)
indices

[19231,
 24761,
 34876,
 66694,
 138,
 779,
 894,
 2317,
 2353,
 2738,
 4594,
 4942,
 5486,
 5574,
 5579,
 5640,
 5655,
 5719,
 6069,
 6096,
 6242,
 6515,
 6743,
 6744,
 7031,
 7099,
 7135,
 7139,
 7166,
 7185,
 7199,
 7215,
 7243,
 7248,
 7258,
 7369,
 8162,
 8531,
 9535,
 9819,
 10072,
 10530,
 10680,
 10923,
 11658,
 12108,
 12178,
 12230,
 12261,
 12303,
 12338,
 12354,
 12420,
 13246,
 13511,
 13994,
 14244,
 14262,
 14991,
 15380,
 16879,
 16991,
 16993,
 16997,
 17061,
 17075,
 17895,
 18106,
 18121,
 18151,
 18154,
 18166,
 18179,
 18187,
 18435,
 18714,
 18811,
 18853,
 18949,
 18980,
 19046,
 20092,
 20197,
 20382,
 20431,
 20446,
 20478,
 20529,
 20558,
 22178,
 22243,
 22263,
 23215,
 25351,
 26939,
 29255,
 30601,
 31002,
 31306,
 33018,
 33152,
 33279,
 33352,
 33514,
 34959,
 35370,
 35383,
 36393,
 36486,
 37869,
 38212,
 41407,
 41408,
 44681,
 49216,
 50615,
 51205,
 51677,
 51712,
 53449,
 54120,
 54269,
 56343,
 57096,
 59088,
 59413,
 60769,
 61009,
 61757,
 61934,
 62045,
 62541,
 65754,
 66175,
 66478,
 67642,
 67880,
 68124,
 68377,
 68732,
 69097,
 69189,
 69403,
 70708,
 71188,
 71211,
 71296,
 71438,
 71497,
 71523,
 71587,
 71594,
 71612,
 71615,
 71634,
 71841,
 71923,
 73894,
 73909,
 73964,
 73987,
 74112,
 74152,
 74207,
 74338,
 74846,
 76528,
 77393,
 77761,
 77768,
 77922,
 78171,
 80731,
 80983,
 80984,
 81254,
 81333,
 81432,
 81556,
 81674,
 81843,
 82106,
 82109,
 82308,
 83540,
 85012,
 85047,
 85465,
 85524,
 85602,
 86822,
 87335,
 87432,
 88566,
 89966,
 91600,
 91620,
 91671,
 91761,
 94100,
 94133,
 94350,
 94411,
 94452,
 95609,
 95744,
 95755,
 95806,
 95878,
 95941,
 95958,
 95977,
 95981,
 96048,
 96078,
 97647,
 97759,
 97852,
 98342,
 98406,
 98423,
 98436,
 98479,
 98507,
 99528,
 100389,
 100806,
 101462,
 101498,
 101601,
 101702,
 101718,
 101730,
 101811,
 101817,
 101988,
 102072,
 102075,
 102091,
 102319,
 102323,
 102342,
 102347,
 102365,
 102378,
 102382,
 102399,
 102403,
 102464,
 102472,
 102475,
 102489,
 102517,
 102524,
 102529,
 102571,
 102618,
 102644,
 102645,
 297,
 316,
 379,
 381,
 493,
 577,
 716,
 744,
 751,
 756,
 859,
 868,
 1033,
 1084,
 1207,
 1260,
 1344,
 1607,
 1855,
 1964,
 2004,
 2128,
 2156,
 2222,
 2369,
 2449,
 2483,
 2975,
 3115,
 3124,
 3129,
 3185,
 3202,
 3262,
 3279,
 3300,
 3326,
 3337,
 3348,
 3419,
 3757,
 3772,
 3946,
 3949,
 4068,
 4108,
 4245,
 4331,
 4334,
 4369,
 4462,
 4476,
 4485,
 4530,
 4563,
 4665,
 4713,
 4719,
 4734,
 4742,
 4774,
 4817,
 4848,
 4867,
 4894,
 5037,
 5048,
 5050,
 5075,
 5098,
 5148,
 5180,
 5197,
 5293,
 5297,
 5302,
 5330,
 5331,
 5352,
 5381,
 5395,
 5471,
 5476,
 5495,
 5499,
 5549,
 5581,
 5604,
 5621,
 5631,
 5635,
 5637,
 5664,
 5701,
 5719,
 5751,
 5858,
 5868,
 5915,
 5918,
 5929,
 5932,
 6033,
 6078,
 6093,
 6096,
 6188,
 6211,
 6233,
 6274,
 6388,
 6399,
 6461,
 6517,
 6556,
 6585,
 6586,
 6616,
 6638,
 6645,
 6658,
 6663,
 6708,
 6736,
 6757,
 6766,
 6870,
 6927,
 7001,
 7111,
 7167,
 7189,
 7342,
 7353,
 7663,
 7687,
 7828,
 7901,
 8010,
 8047,
 8048,
 8049,
 8102,
 8161,
 8165,
 8166,
 8167,
 8182,
 8195,
 8199,
 8219,
 8325,
 8390,
 8409,
 8441,
 8503,
 8513,
 8603,
 8607,
 8611,
 8726,
 8775,
 8974,
 9104,
 9166,
 9201,
 9234,
 9250,
 9253,
 9261,
 9268,
 9271,
 9304,
 9355,
 9358,
 9367,
 9372,
 9379,
 9380,
 9436,
 9534,
 9612,
 9756,
 9830,
 9906,
 9964,
 9978,
 10004,
 10021,
 10022,
 10045,
 10079,
 10094,
 10097,
 10135,
 10138,
 10146,
 10188,
 10192,
 10208,
 10255,
 10261,
 10266,
 10299,
 10329,
 10369,
 10444,
 10545,
 10723,
 10725,
 10740,
 10875,
 10881,
 10911,
 10944,
 11016,
 11025,
 11071,
 11073,
 11155,
 11162,
 11166,
 11407,
 11482,
 11554,
 11718,
 11774,
 11777,
 11805,
 11841,
 11843,
 11848,
 11852,
 11883,
 11943,
 11981,
 11982,
 12034,
 12050,
 12063,
 12102,
 12168,
 12169,
 12171,
 12188,
 12245,
 12262,
 12267,
 12297,
 12304,
 12307,
 12339,
 12341,
 12362,
 12365,
 12421,
 12896,
 12910,
 12950,
 13037,
 13038,
 13103,
 13145,
 13169,
 13177,
 13201,
 13260,
 13271,
 13319,
 13393,
 13395,
 13399,
 13441,
 13447,
 13452,
 13484,
 13837,
 13868,
 13900,
 13923,
 14041,
 14106,
 14107,
 14144,
 14164,
 14174,
 14235,
 14240,
 14244,
 14269,
 14303,
 14309,
 14326,
 14382,
 14388,
 14395,
 14397,
 14400,
 14402,
 14423,
 14748,
 14799,
 14804,
 14850,
 14870,
 14879,
 14911,
 14918,
 14919,
 14952,
 14959,
 14977,
 14986,
 14989,
 14991,
 14999,
 15011,
 15035,
 15045,
 15606,
 15713,
 15757,
 15759,
 15828,
 15833,
 15867,
 15897,
 15940,
 15942,
 15947,
 15954,
 15962,
 15987,
 16001,
 16032,
 16063,
 16773,
 16775,
 16776,
 16778,
 16779,
 16780,
 16782,
 16784,
 16785,
 16787,
 16788,
 16789,
 16790,
 16792,
 16796,
 16870,
 16927,
 16930,
 16951,
 16958,
 16983,
 17016,
 17103,
 17117,
 17149,
 17155,
 17171,
 17246,
 17274,
 17275,
 17299,
 17307,
 17350,
 17354,
 17364,
 17409,
 17425,
 17441,
 17470,
 17475,
 17480,
 17591,
 17593,
 17602,
 17661,
 17822,
 17833,
 17841,
 17864,
 17870,
 17878,
 17884,
 17898,
 17907,
 17913,
 17941,
 17979,
 18000,
 18028,
 18030,
 18044,
 18407,
 18408,
 18431,
 18452,
 18552,
 18559,
 18571,
 18695,
 18698,
 18711,
 18725,
 18760,
 18834,
 18890,
 18932,
 18955,
 18991,
 19245,
 19251,
 19353,
 19552,
 19761,
 19930,
 20005,
 20089,
 20090,
 20110,
 20221,
 20229,
 20241,
 20263,
 20283,
 20294,
 20299,
 20327,
 20356,
 20443,
 20465,
 20471,
 20531,
 20578,
 20778,
 20802,
 20814,
 20828,
 20860,
 20862,
 20897,
 20898,
 20945,
 21003,
 21005,
 21030,
 21205,
 21259,
 21279,
 21295,
 21350,
 21448,
 21565,
 21665,
 21666,
 21688,
 21712,
 21804,
 21837,
 21883,
 21895,
 21903,
 21915,
 21923,
 21944,
 22001,
 22168,
 22197,
 22243,
 22300,
 22322,
 22347,
 22348,
 22568,
 22580,
 22584,
 22624,
 22628,
 22645,
 22705,
 22775,
 22792,
 22851,
 22884,
 22958,
 22967,
 22971,
 22992,
 23023,
 23033,
 23035,
 23044,
 23070,
 23073,
 23149,
 23153,
 23183,
 23240,
 23255,
 23271,
 23311,
 23331,
 23347,
 23357,
 23377,
 23404,
 23458,
 23530,
 23719,
 23746,
 23772,
 23778,
 23826,
 23832,
 23927,
 23937,
 23975,
 23998,
 24017,
 24076,
 24084,
 24098,
 24118,
 24157,
 24186,
 24239,
 24283,
 24301,
 24337,
 24373,
 24378,
 24387,
 24396,
 24410,
 24423,
 24424,
 24445,
 24486,
 24500,
 24523,
 24529,
 24541,
 24545,
 24549,
 24567,
 24573,
 24584,
 24629,
 24647,
 24655,
 24658,
 24669,
 24722,
 24728,
 24934,
 25021,
 25045,
 25047,
 25093,
 25113,
 25163,
 25277,
 25370,
 25492,
 25499,
 25521,
 25538,
 25554,
 25606,
 25611,
 25626,
 25649,
 25666,
 25670,
 25672,
 25704,
 25706,
 25714,
 25738,
 25748,
 25775,
 25801,
 25813,
 25815,
 25867,
 25874,
 25898,
 25994,
 26027,
 26060,
 26107,
 26166,
 26191,
 26216,
 26258,
 26265,
 26270,
 26275,
 26305,
 26635,
 26665,
 26732,
 26765,
 26862,
 26896,
 27086,
 27151,
 27158,
 27197,
 27272,
 27389,
 27398,
 27415,
 27459,
 27474,
 27478,
 27511,
 27515,
 27539,
 27545,
 27590,
 27680,
 27791,
 27858,
 27880,
 27908,
 28032,
 28150,
 28191,
 28193,
 28209,
 28241,
 28253,
 28279,
 28297,
 28414,
 28418,
 28444,
 28478,
 28480,
 28543,
 28622,
 28629,
 28653,
 28654,
 28660,
 28675,
 28686,
 28690,
 28725,
 28777,
 28780,
 28795,
 28838,
 28853,
 28865,
 28892,
 28905,
 28977,
 28996,
 29008,
 29042,
 29071,
 29173,
 29184,
 29200,
 29262,
 29302,
 29309,
 29365,
 29421,
 29437,
 29453,
 29466,
 29502,
 29514,
 29584,
 29635,
 29813,
 29839,
 29857,
 29864,
 29869,
 30019,
 30036,
 30087,
 30092,
 30126,
 30189,
 30234,
 30304,
 30336,
 30351,
 30429,
 30475,
 30490,
 30524,
 30572,
 30710,
 30731,
 30803,
 30870,
 30889,
 30968,
 30974,
 30989,
 30992,
 31001,
 31008,
 31011,
 31015,
 31075,
 31135,
 31263,
 31286,
 31300,
 31317,
 31703,
 31707,
 31716,
 31741,
 31758,
 31809,
 31829,
 31854,
 31893,
 31895,
 31998,
 32004,
 32052,
 32110,
 32144,
 32209,
 32245,
 32275,
 32343,
 32386,
 ...]

In [342]:
len(indices)

8147

In [343]:
mvp.shape

(102641, 17)

In [345]:
mvp.drop(index=indices, inplace=True)

KeyError: '[ 19231  24761  34876 ... 101251    161   1780] not found in axis'

In [346]:
mvp.shape

(98820, 17)

In [350]:
mvp.reset_index(inplace=True,drop=True)

In [351]:
mvp.head()

,id,Patient_Gender,Age,Pneumonia,Pregnant,Indigenous,Diabetic,COPD_Lung_Disease,Asthma,Immunosuppressed,Hypertension,Comorbidity,Cardiovascular_Disease,Obese,Chronic_Renal_Insufficiency,Intensive_Care,Intubation
0,35483,0,50,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,7062,1,25,0,0,0,0,0,0,0,0,0,0,1,0,0,0
2,13779,1,29,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,17334,0,30,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,2789,0,64,0,0,0,1,0,0,0,1,0,0,1,0,0,0

In [352]:
mvp.tail()

,id,Patient_Gender,Age,Pneumonia,Pregnant,Indigenous,Diabetic,COPD_Lung_Disease,Asthma,Immunosuppressed,Hypertension,Comorbidity,Cardiovascular_Disease,Obese,Chronic_Renal_Insufficiency,Intensive_Care,Intubation
98815,7094887,0,39,0,0,0,0,0,0,0,0,0,0,0,0,0,0
98816,7053721,1,53,1,0,0,1,1,0,0,0,0,0,1,0,0,0
98817,7055429,1,65,0,0,0,1,0,0,0,1,0,0,0,1,0,0
98818,7043768,0,71,1,0,0,0,0,0,0,1,0,0,0,0,0,0
98819,7093277,1,18,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [353]:
for col in mvp.columns:
    print(mvp[col].value_counts())

7031462    1
1635600    1
4687066    1
2333913    1
3642584    1
          ..
2335265    1
7115005    1
676383     1
547358     1
4458495    1
Name: id, Length: 98820, dtype: int64
0    55656
1    43164
Name: Patient_Gender, dtype: int64
46     2379
47     2363
45     2301
40     2292
37     2284
       ...
113       2
103       2
114       1
120       1
102       1
Name: Age, Length: 107, dtype: int64
0    74689
1    24131
Name: Pneumonia, dtype: int64
0    98208
1      612
Name: Pregnant, dtype: int64
0    97537
1     1283
Name: Indigenous, dtype: int64
0    81639
1    17181
Name: Diabetic, dtype: int64
0    96849
1     1971
Name: COPD_Lung_Disease, dtype: int64
0    95959
1     2861
Name: Asthma, dtype: int64
0    97305
1     1515
Name: Immunosuppressed, dtype: int64
0    78183
1    20637
Name: Hypertension, dtype: int64
0    95641
1     3179
Name: Comorbidity, dtype: int64
0    96286
1     2534
Name: Cardiovascular_Disease, dtype: int64
0    78707
1    20113
Name: Obese, dtype: int64
0    96516
1     2304
Name: Chronic_Renal_Insufficiency, dtype: int64
0    96429
1     2391
Name: Intensive_Care, dtype: int64
0    96726
1     2094
Name: Intubation, dtype: int64

In [354]:
with open('MVP_patientlevel_intubation.pkl', 'wb') as picklefile:
    pickle.dump(mvp, picklefile)